

                            <div class="">
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f1">
                                    F1
                                </label>
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f2">
                                    F2
                                </label>
                            </div>
                            <div class="">
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f1">
                                    F1
                                </label>
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f2">
                                    F2
                                </label>
                            </div>
                            <div class="">
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f1">
                                    F1
                                </label>
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f2">
                                    F2
                                </label>
                            </div>
                            <div class="">
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f1">
                                    F1
                                </label>
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f2">
                                    F2
                                </label>
                            </div>
                            <div class="">
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f1">
                                    F1
                                </label>
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f2">
                                    F2
                                </label>
                            </div>
                            <div class="">
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f1">
                                    F1
                                </label>
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f2">
                                    F2
                                </label>
                            </div>
                            <div class="">
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f1">
                                    F1
                                </label>
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f2">
                                    F2
                                </label>
                            </div>
                            <div class="">
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f1">
                                    F1
                                </label>
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f2">
                                    F2
                                </label>
                            </div>
                            <div class="">
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f1">
                                    F1
                                </label>
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f2">
                                    F2
                                </label>
                            </div>
                            <div class="">
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f1">
                                    F1
                                </label>
                                <label class="">
                                    <input type="checkbox" wire:model="selected" value="f2">
                                    F2
                                </label>
                            </div>







                            
                        <div class="">
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="e1">
                                E1
                            </label>
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="e2">
                                E2
                            </label>
                        </div>
                        <div class="">
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f1">
                                F1
                            </label>
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f2">
                                F2
                            </label>
                        </div>
                        <div class="">
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f1">
                                F1
                            </label>
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f2">
                                F2
                            </label>
                        </div>
                        <div class="">
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f1">
                                F1
                            </label>
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f2">
                                F2
                            </label>
                        </div>
                        <div class="">
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f1">
                                F1
                            </label>
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f2">
                                F2
                            </label>
                        </div>
                        <div class="">
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f1">
                                F1
                            </label>
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f2">
                                F2
                            </label>
                        </div>
                        <div class="">
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f1">
                                F1
                            </label>
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f2">
                                F2
                            </label>
                        </div>
                        <div class="">
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f1">
                                F1
                            </label>
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f2">
                                F2
                            </label>
                        </div>
                        <div class="">
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f1">
                                F1
                            </label>
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f2">
                                F2
                            </label>
                        </div>
                        <div class="">
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f1">
                                F1
                            </label>
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f2">
                                F2
                            </label>
                        </div>
                        <div class="">
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f1">
                                F1
                            </label>
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="f2">
                                F2
                            </label>
                        </div>
                        <div class="">
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="g1">
                                G1
                            </label>
                            <label class="">
                                <input type="checkbox" wire:model="selected" value="g2">
                                G2
                            </label>
                        </div>